*{
	--fundobranco: #F3F1F4;
	--header: #642373;
	--form: #F3D0F4;
	--letraform: #000000; 
	--botaenviar: #CA537C;
	--letraenviar: #FFFFFF; 
}
html{
	font-size: 62.5%;
	background-color: var(--fundobranco);
}
:root{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins';
	text-decoration: none;
}
body{
	display: grid;
	grid-template-columns: 50% 50%;
	/*display: flex;*/
	margin-left: 4.4rem;
	margin-right: 8.1rem;
	height: 100vh;
}
header img{
	width: 50rem;
}
header h1{
	font-size: 3.6rem;
	font-weight: 700;
	text-align: center;
	color: var(--header);
	width: min(100%,56.8rem);
}
.formpink{
	background-color: var(--form);
	border-radius: 0.8rem;
	margin-top: 4rem;
	width: 56.3rem;
	height: 59.5rem;
	box-shadow:0px 0px 70px 1px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.titles{
	margin-top: 0;
	margin-bottom: -0.5rem;
	font-size: 1rem;
	color: red;
}
.gridform{
	display: flex;
	height: 43.8rem;
	width: 100%;
}
.gridform input[type=text]{
	width: 26.345rem;
	height: 2.946rem;
	border-radius: 0.8rem;
	outline: none;
	border: 0px solid;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
}
.textinputs{
 	margin: 3rem 1.731rem 14.3rem 1.5rem;
	height: 42.2rem;
}
.textinputs label p{
	margin: 0;
	font-size: 1.5rem;
	font-weight: 400;
	margin-top: 0.9rem;
	margin-bottom: 0.9rem;
}
.divisor{
	width: 0;
	height: 43.8rem;
	border-radius: 0.8rem;
	border: 0.1rem solid var(--header);
	margin-top: 3.1rem;
}
.radios{
	padding-left: 1.2rem;
	margin-top: 3.1rem;
}
button[type=submit]{
	font-family: 'Poppins';
	font-size: 1.6rem;
	font-weight: 700;
	border-radius: 0.8rem;
	border: 0px solid;
	background-color: var(--botaenviar);
	color:var(--letraenviar);
	width: 17.6rem;
	height: 5.6rem;
	margin-top: 6.2rem;
	box-shadow: 0px 0px 10px 5px rgba(202, 83, 124, 0.25);
	transition: 0.5s;
}
button[type=submit]:hover{
	filter: brightness(1.2);
}
input[type=date]{
	width: 26.345rem;
	height: 3.2rem;
	border-radius: 0.8rem;
	outline: none;
	border: 0px solid;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Poppins;
	font-size: 1.3rem;
	padding-left: 0.6rem;
	color: #B3B3B3;
}
::placeholder{
	font-size: 1.3rem;
	font-family: Poppins;
	padding-left: 0.6rem;
	color: #B3B3B3;
}
.radios1{
	height: 17.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-top: 0.5rem;
}
.radios2{
	height: 17.4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-top: 5.8rem;
}
.radios1 span{
	display: flex;
	justify-content: center;
	margin-top: 0.7rem;
}
.radios2 span{
	display: flex;
	justify-content: center;
	margin-top: 0.7rem;
}
.radios2 span:nth-child(2){
	margin-top: 0rem;

}
.radios1 span:nth-child(2){
	margin-top: 0rem;

}
.radios1 p:nth-child(1){
	margin-top: 3.1rem;
	font-size: 1.5rem;
}
.radios2 p:nth-child(1){
	font-size: 1.45rem;
	width: 26.3rem;
}
.radios1 label{
	font-size: 1.2rem;
	margin-left: 1.5rem;
}
.radios2 label{
	font-size: 1.2rem;
	margin-left: 1.5rem;
}
@media (min-width: 31rem) and (max-width: 80rem){
	body{
		display: flex;
		flex-direction: column;
	}
	.formpink{
		width: min(29.6rem, 100%);
		height: 116.4rem;
		margin: 0 auto;
	}
	.gridform{
		flex-direction: column;
		height: 103rem;
	}	
	.radios{
		margin-top: -1rem;
	}
	.divisor{
		display: none;
	}
	header img{
		display: none;
	}

}
@media (min-width: 31rem) and (max-width: 66rem){
	header h1{
		font-size: 2.2rem;
	}
}

